body{
    margin: 0%;

    display: grid;
    // grid-template-columns: 0.5fr 1fr*22 0.5fr;
    grid-template-columns: 0.5fr repeat(22, 1fr) 0.5fr;
    grid-template-rows: 10vh minmax(85vh, auto) 5vh;
}


h1, h2, a{
    margin: none;
    text-decoration: none;
    color: black;
}

.header__zonaNav{
    padding-right: 50px;
    .premio_a_nav{
        padding-right: 50px;
        text-decoration: none;
        color:black;
        font-style: italic;
    }
}


.header{
    grid-row: 1;
    grid-column: 2/24;

    background-color: antiquewhite;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__zonaTitulo{
        margin-left: 100px;
        text-decoration: none;
        color:black;
        font-style: italic;
    }

    .header__zonaNav{
        .a_nav{
            padding-right: 50px;
            text-decoration: none;
            color:black;
            font-style: italic;
        }
    }

}

.main{
    grid-column: 2/24;
    grid-row: 2;

    background-color: rgb(212, 142, 57);
}


.footer{
    grid-column: 1/25;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;

    .copy{
        color: azure;
    }
}