$color-fuente-principal: #000000;
$color-fuente-secundaria: #FFFFFF;

$color-very-darck-gray: #181818;
$color-darck-transp: #18181877;
$color-gray: #AAAAAA;
$color-very-light-gray: #F1F1F1;
$color-very-light-gray-plus: #EBEBEB;

body{
  margin: 0%;

  display: grid;
  // grid-template-columns: 0.5fr 1fr*22 0.5fr;
  grid-template-columns: 0.5fr repeat(22, 1fr) 0.5fr;
  grid-template-rows: 10vh minmax(85vh, auto) 5vh;

  background-color: $color-very-light-gray-plus;
}


h1, h2, a{
  margin: none;
  text-decoration: none;
  color: $color-fuente-principal;
}

.header__zonaNav{
  padding-right: 50px;
  .premio_a_nav{
      padding-right: 50px;
      text-decoration: none;
      color:$color-fuente-principal;
      font-style: italic;
  }
}


.header{
  grid-row: 1;
  grid-column: 2/24;

  background-color: $color-very-light-gray-plus;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__zonaTitulo{
      margin-left: 100px;
      text-decoration: none;
      color: $color-fuente-principal;
      font-style: italic;
  }

  .header__zonaNav{
      .a_nav{
          padding-right: 50px;
          text-decoration: none;
          color:$color-fuente-principal;
          font-style: italic;
      }
      .select--a_nav{
        padding-right: 50px;
        text-decoration: none;
        color:$color-fuente-principal;
        font-style: italic;
        font-weight: bold;
      }
  }

}

.premio_main {
  grid-column: 2/24;
  grid-row: 2;

  background-color: $color-very-light-gray-plus;
  display: flex;
  flex-direction: row;

  .premio_container_foto_principal {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-very-light-gray-plus;
    .premio_container_foto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      background-color: $color-very-light-gray-plus;
      // margin-top: 40px;
    //   margin-left: 150px;
    //   margin-right: 80px;
      .premio_titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        background-color: $color-very-darck-gray;
        // margin-left: 120px;
        margin-right: 55px;
        height: 60px;
        width: 500px;
        h1 {
          color: $color-fuente-secundaria;
          text-align: center;
          //    padding-top: 8px;
        }
      }
      .premio_foto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 40px;
        margin-left: 60px;
        width: 80%;
        // height: 400px;
      }
    }
  }
  .premio_container_botones_premios {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: $color-very-light-gray-plus;
    margin-top: 100px;
    margin-right: 100px;

    .premio_container_botones {
      justify-content: center;
      // background-color: aquamarine;
      margin-top: 40px;
    //   margin-left: 80px;
    //   margin-right: 80px;
      a {
        color: $color-fuente-secundaria;
      }

      #activado {
        background-color: $color-gray;

        a {
          color: $color-fuente-principal;
        }
      }
      .premio1,
      .premio2,
      .premio3,
      .premio4,
      .premio5,
      .premio_volver {
        background-color: $color-very-darck-gray;
        margin-left: 80px;
        margin-right: 80px;
        height: 70px;
        width: 400px;
        h2 {
          color: $color-fuente-secundaria;
          text-align: center;
          padding-top: 20px;
        }
      }
    }
  }
}

.premio_footer {
  grid-column: 1/25;
  grid-row: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-very-darck-gray;

  .premio_copy {
    color: $color-fuente-secundaria;
  }
}
