// Importamos las variables
@import 'variables';

body{
  margin: 0%;

  display: grid;
  // grid-template-columns: 0.5fr 1fr*22 0.5fr;
  grid-template-columns: 0.5fr repeat(22, 1fr) 0.5fr;
  grid-template-rows: 10vh minmax(85vh, auto) 5vh;

  background-color: $color-very-light-gray-plus;
}

h1, h2, a{
    margin: none;
    text-decoration: none;
    color: $color-fuente-principal;
  }
  
  .header__zonaNav{
    padding-right: 50px;
    .premio_a_nav{
        padding-right: 50px;
        text-decoration: none;
        color:$color-fuente-principal;
        font-style: italic;
    }
  }
  
  
  .header{
    grid-row: 1;
    grid-column: 2/24;
  
    background-color: $color-very-light-gray-plus;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .header__zonaTitulo{
        margin-left: 100px;
        text-decoration: none;
        color: $color-fuente-principal;
        font-family: 'Raleway-title',sans-serif;
    }
  
    .header__zonaNav{
        .a_nav{
            padding-right: 50px;
            text-decoration: none;
            color:$color-fuente-principal;
            font-style: italic;
        }
        .select--a_nav{
            padding-right: 50px;
            text-decoration: none;
            color:$color-fuente-principal;
            font-family: 'Raleway-marked',sans-serif;
            font-size: 1.25em;
          }
    }
  
  }

.select--main{
    grid-column: 2/24;
    grid-row: 2;

    background-color: $color-very-light-gray-plus;

    .select--container{

        margin-top: 25px;
        margin-bottom: 25px;
        background-color: $color-gray;
        width: 100%;
        height: 95%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .select--zonaFoto{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-gray;
        width: 50%; /* Ajusta el ancho según tus necesidades */
        height: 100%;
        margin: 35px;
        img{
            max-width: 100%;
            max-height: 75%;
        }

        }

        .select--zonaTexto{

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $color-gray;
            color: $color-fuente-secundaria;

            width: 75%;
            height: 100%;

            .select--zonaTexto__cajaTexto{

                max-width: 85%;
                max-height: 90%;

                background-color: $color-darck-transp;

                .select--zonaTexto__h2{

                    text-align: center;
                    font-family: 'Raleway',sans-serif;
                    font-size: 2em;
                    color: $color-fuente-secundaria;

                }
                .select--zonaTexto__p{

                    padding: 15px;

                    text-align: justify;

                    font-family: 'Fanwood',serif;
                    font-size: 18px;

                }
            }


        }
    }
}


.select--footer{
    grid-column: 1/25;
    grid-row: 3;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-very-darck-gray;
    font-family: 'Raleway-footer',sans-serif;

    .select--copy{
        color: $color-fuente-secundaria;
    }
}